[Unit]
Description=Automatically updates the base image
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
StandardOutput=journal+console
ExecStart=/usr/bin/bootc update
